.imgCarrosel {
  height: 400px;
  object-fit: cover;
}
.imgGrid1 {
    width: 300px;
    border-radius: 8px;
}
.bannerempresas img {
    width: 100%;
}
footer h5 {
  color: #1e22aa; 
  font-weight: 700;
}
footer a {
  text-decoration: none;
  line-height: 2;
  transition: 0.2s;
}

footer a:hover {
  text-decoration: underline;
}



